body{
    margin:0;

}

.container{
    display:flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width:100vw;

    
    box-sizing: border-box;
}

.login-card{
    height: 250px;
    width: 250px;

    box-sizing: border-box;
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 17px 4px rgba(0,0,0,0.55);
    
    text-align: center;
    
}

.login-card input {
    height: 20px;

    width: 50%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
margin: 10px;
color: black;

}

.sign-in {
    background: rgb(92, 141, 246);
 box-sizing: border-box;
 width: 50%;
 border: none;
 border-radius: 10px;
 
 cursor: pointer;
 color: white;
}
.sign-in button::hover {
    background-color: blue;


}

.sign-in:hover{
    background-color: blue;
}